$light-gray: #A1B3BF;
$gray: #738494;
$dark-gray: #1F3239;
$gold: #F7C336;
$gold-1: #f7c4367c;
$gold-2: #82815F;
$marfim: #FFF2CE;
$white: #F3F3F3;
$white-1: #F3F3F32F;
$black: #1C1919;

$border-radius-primary: 8px;

$bg-primary: #738494cc;