@use "variables" as *;
@use "mixins" as *;

@include reset;

.main-game {
  position: relative;

  min-height: 100vh;
  width: 100%;

  background-image: url(../images/bg-login.jpg);
  background-size: cover;
  background-position: center;

  .content-wrapper {
    position: relative;
    @include flex-center-column;
    gap: 20px;
    max-width: 800px;
    margin: auto;

    .header-game {
      @include flex-center;
      width: 100%;

      .header-container {
        @include flex-center;
        justify-content: space-between;

        width: 100%;
        max-width: 800px;

        padding: 20px 20px 0px 20px;

        span {
          font-size: 1.1rem;
          font-weight: 600;

          color: $primary;
          text-shadow: $shadow-primary;
        }
        .player-time {
          .time {
            font-family: "Courier New", Courier, monospace;
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: normal;
          }
        }
      }
    }
    .section-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      width: 100%;
      max-width: 800px;

      padding: 0px 20px 0px 20px;

      // Desktop
      @include desktop {
        grid-template-columns: repeat(5, 1fr);
      }

      .grid-card {
        position: relative;

        aspect-ratio: 3/4;
        border-radius: 8px;

        transform-style: preserve-3d;

        background-color: $black;

        transition: transform 0.4s;

        .card-face {
          position: absolute;

          width: 100%;
          height: 100%;

          background-size: cover;

          border-radius: 8px;
        }
        .card-front {
          border: 1px solid $primary;
          box-shadow: 0px 0px 5px $secondary;

          transform: rotateY(180deg);

          transition: filter 0.8s, opacity 0.6s;
        }
        .revealed-card {
          opacity: 0.5;
          filter: saturate(0);
        }
        .card-back {
          cursor: pointer;
          backface-visibility: hidden;

          border: 1px solid $primary;
          box-shadow: 0px 0px 5px $secondary;

          background-image: url(../images/back.jpg);
        }
      }
      .rotate-card {
        transform: rotateY(180deg);
      }
    }
    .ranking-wrapper {
      width: 100%;
      max-width: 800px;
      padding: 0px 20px 20px 20px;

      .ranking-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $primary;
        text-shadow: $shadow-primary;
        font-size: 1.1rem;
        font-weight: 600;

        .ranking-title {
          padding-bottom: 4px;
        }
        .ranking-time {
          font-family: "Courier New", Courier, monospace;
          letter-spacing: normal;
        }
      }
    }
  }
  .restart-game {
    @include flex-center-column;
    gap: 18px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    padding-inline: 10px;
    z-index: 99;

    transition: all 0.4s;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 40%;
      z-index: 0;
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;

      text-align: center;

      color: $primary;

      text-shadow: $shadow-primary;
      z-index: 1;

      span {
        font-family: "Courier New", Courier, monospace;
        padding: 3px;
        background-color: $secondary;
      }
    }
    button {
      @include button-style;
      transition: all 0.2s;
      border: 2px solid transparent;
      z-index: 1;

      &:hover,
      &:focus {
        border: 2px solid $primary;
        box-shadow: $shadow-primary;
      }
    }
  }
  .restart-game-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media (min-width: 1320px) {
  .main-game {
    .content-wrapper {
      .section-grid {
        padding: 0px 20px 20px 20px;
      }
      .ranking-wrapper {
        position: absolute;
        padding: 0;
        max-width: 210px;
        top: 20px;
        left: -230px;

        .ranking-list {
          .ranking-title {
            padding-bottom: 16px;
          }
        }
      }
    }
  }
}
